/*-------genral page styles -------------*/

html{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}


::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: black;
}

button, input[type=submit]{
    padding: 5px 10px;
    border: solid black;
    background-color: white;
}

button:hover, input[type=submit]:hover{
    background-color: gray;
}

@media only screen and (max-width: 800px) {
    section{
        width: 90%;
        margin: auto;
    }
}


/*------ nav bar ------------*/

nav{
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: solid black
}

nav a{
    box-sizing: border-box;
    border: solid black;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
}

nav a:hover{
    background: grey;
    color: black;
}


#mobileNavigationbar {
    width: 100%;
}

#mobileNavigationbar {
    display: none;
}

#mobileNavigationbar a{
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: solid black;
    text-align: center;
    padding: 8px;
    font-size: 120%;
    font-weight: bold;
    
}

@media only screen and (max-width: 800px) {
    #mobileNavigationbar {
        display: flex;
    }

    #navigationbar{
        display: none;
    }
}


/*---------footer-------------*/
  

footer{
    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    padding: 30px;
    border-top: solid 4px black;
    background-color: gainsboro;
}


/*-----------weather------------------*/

.weatherOuter{
    width: 90%;
    border: solid black;
    display: flex;
    margin: auto;
}

.weatherSection1, .weatherSection2{
    border: solid black;
    width: calc(50% - 2px);
}

@media only screen and (max-width: 800px) {
    .weatherSection1, .weatherSection2 {
        width: 100%;
    }

    .weatherOuter{
        box-sizing: border-box;
        flex-wrap: wrap;
        width: 100%;
    }
}

.weatherMain{
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid black;
}

.mainIconCont{
    width: 150px;
}

#mainIcon, #windArrow{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mainWeatherOutput{
    padding: 0 0 0 20px;
    overflow: hidden;
}

.windArrowCont{
    margin: auto 37.5px;
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.weatherSection2{
    display: flex;
    overflow-x: scroll;
}

.hourWeather{
    min-width: 120px;
    border-right: solid;
    text-align: center;
    padding: 0 5px;
}

.hourWeather > p {
    margin-bottom: -10px;
}

.hourWeather .mainIconCont{
    width: 75%;
    margin: auto;
}

/*----- map --------*/

#map{
    margin: 20px auto;
    border: solid black;
}

/*--------- tweet marker button --------------*/

.showTweetsControls{
    box-sizing: border-box;
    width: 50%;
    border: solid;
    margin: auto;
    padding: 20px;

    display: flex;
    justify-content: space-evenly;
}

#timeoutBarOuter{
    width: 70%;
    border: solid black;
}


#timeoutBar{
    box-sizing: border-box;
    width: 0%;
    height: 100%;
    background-color: black;
}

.markerInfoLower{
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 5px;
}


/*---------- public tweet markers on map-----------*/
.infoWindowOuter{
    width: 350px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}

.markerTweetheader{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background-color: gainsboro;
}

.InfoWindowTweetArea{
    width: 80%;
    font-weight: 500;
    font-size: 110%;
}

.profielarea{
    display: flex;
}

.markerHeadertext{
    margin: 6px;
    font-size: 120%;
}








/*------------ directions area --------------*/
.directionsOuter{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 50px;
}

.directionInfo{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.matrixOuter{
    box-sizing: border-box;
    width: 40%;
    padding: 20px;
    border: solid black;
}

#panel{
    box-sizing: border-box;
    width: 40%;
    border: solid black;
    overflow-y: scroll;
}

#placesOuter{
    box-sizing: border-box;
    width: 20%;
    border: solid black;
    overflow-y: scroll;
    padding: 10px;
}

#panel, #placesOuter, .matrixOuter{
    height: 550px;
}

#placesOuter button{
    width: 60%;
    margin: 10px 20%;
}

@media only screen and (max-width: 800px) {
    
    #panel, .matrixOuter, #placesOuter, .directionsOuter {
        width: 100%;
    }

}

#origin{   
    box-sizing: border-box;
    width: 100%;
    border: solid;
    margin-bottom: 5px;
    padding: 5px;
}

#destination, #mode{
    border: solid;
    margin: 10px;
}

.distanceOutput{
    margin-top: 10px;
    border: solid;
    padding: 5px;
}

.directionsButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.directionsButtons button{
    width: 80%;
    margin: 7px;
}


/*--- twitter feed ----*/
.tweet{
    box-sizing: border-box;
    border: solid black;
    padding: 10px;
    width: 90%;
    margin: 10px auto;
}

#tweetsarea{
    box-sizing: border-box;
    border: solid;
    color: black;
    width: 60%;
    height: 800px;
    overflow-y: scroll;
    margin: auto;
}

.twitterFeedHeading, .PostTweetHeading{
    width: 60%;
    margin: auto;
    text-align: center;
}

.tweetSelectionOuter{
   display: flex;
   justify-content: center;
}

.tweetSelectionForm{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    border: solid black;
    padding: 10px;
    text-align: left;
    margin: auto;
    transition: max-height 1s ease;
}

#filterArea{
    z-index: 3;
    display: block;
}
#filterArea > button{
    margin: 10px 0;
}

/*-- each induvidual tweet --*/
.tweetHeader{
    display: flex;
    background-color: gainsboro;
    border-radius: 10px;
    color: black;
}

.tweetHeader:hover{
    border-bottom: solid black;
    margin-bottom: -2px ;
}

.twitterName{
    margin-left: 10px;
    text-decoration: none!important;
}

.feedUsername{
    text-decoration: none!important;
}

.tweetmedia{
    width: 100%;
    max-height: 400px;
    margin: 10px auto 0 auto;
    object-fit: contain;
}

@media only screen and (max-width: 800px) {
    .twitterFeedHeading, #tweetsarea {
        width: 100%;
    }
}

/*---- loading icon -----------*/
.lds-ring {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 50px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*----------post Tweet area -------------------*/
.TweetInputContainer{
    width: 60%;
    margin: auto;
}

#tweetInput{
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100px;
    border: solid black;
}

#tweetMessage{
    text-align: center;
}

#tweetMessage input[type=submit]{
    margin: 10px;
}

#tweetOutput{
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.sentTweet{
    width: 80%;
    border: solid;
    text-align: center;
    margin: 10px auto;
}

.sentTweetHeader{
    background: gainsboro;
    display: flex;
}

.sentTweetUser{
    margin: 10px;
}

.sentTweetUser p{
    margin: 2px;
}

.sentPorfilePic{
    height: 70px;
    width: 70px;
}

.sentTweetBody{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 120%;
}

.tweetOutputheading{
    width: 40%;
    margin: 20px auto;
    font-size: 140%;
    text-align: center;

}

@media only screen and (max-width: 800px) {
    .showTweetsControls, .PostTweetHeading, .TweetInputContainer, .tweetOutputheading, #tweetOutput, .sentTweet{
        width: 90%;
    }
}
  

/*------------Critical evelauation ----------------------*/

.downloadArea{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.downloadArea a{
    border: solid black;
    padding: 10px;
    text-decoration: none;
    color: black!important;

}
.downloadArea a:hover {
    background-color: grey;
}

.criticalEvaluation{
    width: 60%;
    margin: auto;
    overflow-wrap: break-word;
}

.criticalEvaluation a{
    color: navy;
}

.criticalEvaluation ol li{
    margin-bottom: 15px;
    font-weight: 130%;
}

@media only screen and (max-width: 800px) {
    .criticalEvaluation{
        width: 95%;
    }
}

.reportImageCenter{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}


